/**
 * Base Colors
 */

$blue: #3eb0ef;
$green: #a4d037;
$purple: #ad26b4;
$yellow: #fecd35;
$red: #f05230;
$pink: #fa3a57;
$brown: #a3821a;


$darkgrey: #15171A;
$slate: #383838;
$midgrey: #738a94;
$lightgrey: #c5d2d9;
$whitegrey: #e5eff5;
$white: #fff;
